<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BeBetter</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">BeBetter</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <% if user_signed_in? %>
          <ul class="right">
            <li><%= link_to 'Sign Out', session_path(:current), method: :delete %></li>
          </ul>
        <% end %>
      </section>
    </nav>
    <%= yield %>

  </body>
</html>
