<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BeBetter</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-title">
        <h3><a href="/">BeBetter</a></h3>
      </div>
      <div>
        <div class="top-bar-right">
          <% if user_signed_in? %>
            <ul class="dropdown menu" data-dropdown-menu>
              <li>Signed in as <%= @current_user.name %></li>
              <li><%= link_to 'Sign Out', session_path(:current), method: :delete %></li>
            </ul>
          <% else %>
            <button class="button facebook-login">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <%= link_to "Sign In With Facebook", auth_path(:facebook), class: "facebook-login-text" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
    <div class='error-msgs'>
      <% flash.each do |name, msg| %>
        <div class='callout success error-msg'>
          <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
